#home-logo  {
    height: 30%;
    width: 30%;
}

#homeBody{
    overflow: hidden!important;
    max-height: 100vh!important;
}

#container{
    overflow-x:hidden;
    width:100%;
    position:relative;
    height:100vh;
}

body    {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: 'Quicksand', sans-serif;
    color: #646464;
    overflow-x: hidden;
}

p   {
    color: #646464;
}

h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0%;
    padding-bottom: -1%;
}

#homeCol{
    margin: auto;
    overflow: hidden;
}

#homeDiv    {
    height: 400px;
    width: 250px;
    opacity: 0.9;
    margin: 0 auto;
    margin-top: 120px;
}

#homePic    {
    height: 58%;
}

.waves-effect   {
    background-color: #fe855b;
    color: #646464;
    font-weight: bold;
}

#homeownerButton, #signupButton {
    margin-bottom: 6px;
}

#contractorButton, #homeownerButton, #signupButton {
    width: 95%;
    font-size: inherit;
    line-height: 12px!important;
}

#homeDivOr  {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

#signupDiv  {
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
    margin-top: 200px; 
}

#postOrView{
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
    margin-top: 250px;
}

form{
    padding-bottom: 10px;
}

#homeownerPost  {
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
}

.card-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}

#formLogo   {
    width: 50px;
    height: 50px;
    margin-top: -35px;
    vertical-align: middle;
    margin-right: 2%;
}

#homeownerLogin {
    background-color: white;
    margin: auto;
    width: 80%;
    opacity: 0.9;
    margin-top: 2%;
    overflow: hidden;
}

.welcomeBack{
    font-size: 50px;
}

#welcomeBackLine{
    display: inline;
}

#homeownerSignIn, #postJob, #contractorSignIn, #bidButton, #placeNewBid, #submitHomeowner, #submitContractor  {
    margin: 2%;
    width: 150px;
}

#homeownerSignUp, #contractorSignUp, #goToPosts, #viewJobs{
    width: 100%;
}

#bidButton{
    display: block;
    margin: auto;
}

#biddingPrice {
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
}

#priceRow{
    justify-content: center;
}

#placeAbid{
    border: 1px solid #fe855b;
    box-shadow: 1px 1px 6px #646464;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

table{
    border: 1px solid #fe855b;
    box-shadow: 1px 1px 6px #646464;
}



#newBid{
    width: 150px!important;
}

#contractorLogin    {
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
    margin-top: 2%;
}

#jobType    {
    margin: 2%;
    width: 100%;
    background-color: #fe855b;
    color: #646464;
    font-weight: bold;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #646464;
}

#homeownerJobsCard, #homeownerForm, #contractorForm, #signupDiv2 {
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
    margin-top: 2%;
    margin-bottom: 2%;
}

#jobsTableTitle {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}

#formLogo2  {
    width: 5%;
    height: 5%;
    margin-top: -15px;
    vertical-align: middle;
    margin-right: 2%;
}

#formLogo3  {
    width: 10%;
    height: 10%;
    margin-top: -15px;
    vertical-align: middle;
    margin-right: 2%;
}

#availableJobsCard  {
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
    margin-top: 2%;
}

#biddingCard    {
    background-color: white;
    margin: 0rem;
    width: 80%;
    opacity: 0.9;
    margin-top: 2%; 
}

#currentBid {
    font-weight: bold;
    font-size: 20px;
}

#bidWords   {
    display: inline;
}

#signupDiv2{
    margin-top: 250px;
    padding-top: 5px;
}

#newJobBtn{
    display: block;
    margin: auto;
    width: 150px;
}

#viewRow{
    margin: auto;
    padding-top: 10px;
}

@media only screen and (max-width: 767px) {
    .welcomeBack {
        font-size: 26px;
    }

    th{
        font-size: 14px;
        font-weight: bold;
    }

    table{
        border: unset;
    box-shadow: unset;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    thead tr { 
		position: absolute;
		top: -9999px;
        left: -9999px; 
        }
    
    tr{ 
        border: 1px solid #fe855b;
        box-shadow: 1px 1px 6px #646464; 
    }

    tr:last-child{
        border-bottom: 1px solid #fe855b!important;
        box-shadow: 1px 1px 6px #646464;
    }

    td { 
        font-size: 14px;
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative; 
    }
    
    td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

    #jobsPosted{
        font-size: 9px;
    }

    #formLogo{
        width: 26px;
        height: 26px;
        margin-top: -16px;
    }

    #homeownerSignUpCol, #contractorSignUpCol{
        width: 100%;
    }

    #signupRow, #viewRow {
        display: flex;
        margin-bottom: 0px!important;
    }
}

@media only screen and (max-width: 523px){
    #contractorSignUp{
        margin-top: 10px;
    }

    #placeAbid{
        width: 220px;
    }
}