#home-logo  {
  height: 30%;
  width: 30%;
}


body    {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  font-family: 'Quicksand', sans-serif;
  color: #646464;
}

p   {
  color: #646464;
}

h1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0%;
  padding-bottom: -1%;
}

#homeDiv    {
  height: 565px;
  width: 30%;
  margin-top: 5%;
  opacity: 0.9;
}

#homePic    {
  width: 90%;
  height: 58%;
  margin-bottom: 1%;
}

.waves-effect   {
  background-color: #fe855b;
  color: #646464;
  font-weight: bold;
}

#homeownerButton    {
  width: 95%;
  margin-bottom: 3%;
  font-size: 18px;
}

#contractorButton   {
  width: 95%;
  font-size: 18px;
}

#signupButton   {
  width: 95%;
  font-size: 18px;
}

#homeDivOr  {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}

#signupDiv  {
  width: 35%;
  margin-top: 2%;
  opacity: 0.9;
}

#homeownerSignUp {
  margin: 1%;
  width: 98%;
}

#contractorSignUp   {
  margin: 1%;
  margin-top: 0%;
  width: 98%;
}

#signupTitle    {
  font-size: 50px;
  margin-bottom: 0%;
}

#homeownerForm  {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
}

#submitHomeowner    {
  margin: 2%;
  width: 20%;
}

#submitContractor   {
  margin: 2%;
  width: 20%;
}

#contractorForm  {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
}

#homeownerPost  {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
}

.card-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

#formLogo   {
  width: 5%;
  height: 5%;
  margin-top: -35px;
  vertical-align: middle;
  margin-right: 2%;
}

#homeownerLogin {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
  margin-top: 2%;
}

#homeownerSignIn    {
  margin: 2%;
  width: 20%;
}

#contractorLogin    {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
  margin-top: 2%;
}

#contractorSignIn   {
  margin: 2%;
  width: 20%;
}

#jobType    {
  margin: 2%;
  width: 100%;
  background-color: #fe855b;
  color: #646464;
  font-weight: bold;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #646464;
}

#postJob    {
  margin: 2%;
  margin-top: 0%;
  width: 20%;
}

#homeownerJobsCard  {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
  margin-top: 2%;
}

#jobsTableTitle {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

#formLogo2  {
  width: 5%;
  height: 5%;
  margin-top: -15px;
  vertical-align: middle;
  margin-right: 2%;
}

#signupDiv2  {
  width: 35%;
  margin-top: 2%;
  opacity: 0.9;
}

#formLogo3  {
  width: 10%;
  height: 10%;
  margin-top: -15px;
  vertical-align: middle;
  margin-right: 2%;
}

#availableJobsCard  {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
  margin-top: 2%;
}

#biddingCard    {
  background-color: white;
  margin: 0rem;
  width: 80%;
  opacity: 0.9;
  margin-top: 2%; 
}

#biddingRow {
  margin: 5%;
}

#currentBid {
  font-weight: bold;
}

#bidWords   {
  display: inline;
}

#placeNewBid    {
  margin: 2%;
  width: 20%;
}

table tr:nth-child(1)  {
  counter-reset: rowNumber;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  margin-right: 10%;
}