 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
 <div class="container">
     <h3>File Upload</h3>

     <form action="/upload" method="POST" enctype="multipart/form-data">
         <div class="file-field input-field">
             <div class="btn grey">
                 <span>File</span>
                 <input name="myImage" type="file">
             </div>

         </div>
         <button type="submit" class="btn">Submit</button>
     </form>
     <br>
 </div>